$main :#ffc107;
$submain: #fff3cd;

$modalTextHighlight: #664d03;
$modalBorderColor: #ffecb5;

$darkModeBkg: rgb(10, 25, 41);
$darkModeBorder: #434343;

$lighModeBkg: #fafafa;
$lightModeBorder: #dadada;
$lightModetext: #757575;

$card-box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px !default;

$error-red: #FF5151;