.profile-sidebar{
    .Profileprogress{
        max-width: 150px;
        @extend .center-all;
        .CircularProgressbar {
            .CircularProgressbar-text{
                fill: $modalTextHighlight;
            }
            .CircularProgressbar-path{
                stroke: $main;
            }
        }
    }
}